/**
 * Place your custom styles here.
 */
/* #navbar{
 	background-color: #1260ab;
 }*/
/*#page-header{
	margin-top: -10px;
}*/
@font-face{
	font-family: 'Open Sans';
	src:url('../fonts/OpenSans-Regular.ttf');
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
}
img, img.scale-with-grid {
	outline: 0; 
	max-width: 100%; 
	height: auto; 
}

/*navbar header*/
.navbar-inverse{
	background-color: #1260ab;
	color: #fff;
	border-color: #1260ab;
}
.navbar-inverse .navbar-brand {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse 
.navbar-nav > .active > a:hover{
    color: #fff;
    background-color: #01517f;
}
.navbar-inverse .navbar-nav a:focus {
	background-color: #01517f;
}
.menu li{
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
}

@media screen and (min-width: 768px){
	ul.secondary .first {
		color: #0299e4;   
	    background-color: #0299e4;
	}
}
@media screen and (min-width: 768px){
	ul.secondary .last{
		color: #e60123;
	    background-color: #e60123;
	}
}


/*site name*/
.well {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    /*border: none;*/
}

/*page header*/
.page-header {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
    margin: 20px 0 10px;
    border-bottom: 1px solid #eee;
}
/*slider image*/
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 1px;
    border: 1px solid #1260ab;
    background-color: #1260ab;
}
/*Block title*/
.block-title{
	font-weight: 600;
	font-size: 20px;
    border: 1px solid #1260ab;
    border-radius: 2px;
    background-color: #1260ab;
    padding: 5px;
    color: #fff;
}
/*post date*/
.submitted {
    margin-bottom: 1em;
    padding-bottom: 5px;
    font-style: normal;
    font-weight: 400;
}
.media-left img{
	max-width: 700px;
	width: auto;
}
/*.media-list .media{
	border-bottom: 1px solid #ccc;
}*/
.media-body {
	font-size: 14px;
	font-weight: 600;
	max-width: 700px;
	width: auto;
	color: #1260ab;
}
.media-body p{
	font-size: 14px;
	font-weight: 100;
	color: #000;
}

.media-heading a{
	font-weight: 600;
	font-size: 14px;
	color: #333;
}
.views-more-link{
	margin-top: 20px;
	color: #337ab7;
    text-decoration: none;
    float: right;
}
.thumbnail .caption {
    padding: 9px;
    font-weight: 600;
    color: #1260ab;
}
.thumbnail .caption h4, .thumbnail .caption a:hover{
	height: 50px;
	font-size: 14px;
	color: #333;
	font-weight: 600;
	text-decoration: none;
}
.field-item .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    /*margin: 0 auto;*/
}

/*Footer*/
.footer {
	text-align: center;
	margin-top: 15px;
	padding: 15px 0 0;
	padding-bottom: 15px;
	background-color: #1260ab;
	color: #fff;
}
.footer a{
	color: #fff;
}